<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Malexandre - {{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/coderay.css" type="text/css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/menu.css" type="text/css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/malexandre.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=BenchNine|Kaushan+Script' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <script type="text/javascript">
        <!--
            var disqus_shortname = 'malexandre';
            var disqus_developer = 1;

            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        -->
        </script>
    </head>
    <body>
        <div id="header-wrap">
	        <div id="header-container">
		        <div id="header">
		            <h1>
			            <a href=""><span style="font-family: 'Kaushan Script';">M</span>alexandre</a>
			            <em>Thoughts of a French developper</em>
			        </h1>
			        <nav>
			            <ul class="dropdown dropdown-horizontal">
                            <li>
                                <a href='#'>Home</a>
                                <div class="arrow"></div>
                            </li>
                            <li id="menuCategories"><a href='#'>Categories</a><div class="arrow"></div>
                                <ul>
                                    <li>
                                        <a href='#'><span>Dev</span></a>
                                        <ul>
                                            <li><a href='#'>Java</a><</li>
                                            <li><a href='#'>Python</a></li>
                                        </ul>
                                    </li>
                                    <li><a href='#'><span>Misc</span></a></li>
                                </ul>
                            </li>
                            <li><a href='#'><span>Archive</span></a><div class="arrow"></div></li>
                            <li id="menuFindMe"><a href='#'><span>Find me</span></a><div class="arrow"></div>
                                <ul>
                                    <li><a href='#'><img src="/blog/img/github.png" /><span>GitHub</span></a></li>
                                    <li><a href='#'><img src="/blog/img/twitter.png" /><span>Twitter</span></a></li>
                                </ul>
                            </li>
                            <li><a href='#'><span>About</span></a><div class="arrow"></div></li>
                            <li><a href='#'><span>Contact</span></a><div class="arrow"></div></li>
			            </ul>
			        </nav>
		        </div>
	        </div>
        </div>
        <div id="page">
            {{ content }}
        </div>
        </div>
        <div id='footer'>
            Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons</a>. Theme and code inspired by <a href="http://wordpress.org/extend/themes/inove">WordPress's iNove theme</a>. Powered by <a href='http://github.com/mojombo/jekyll'>Jekyll</a>.
        </div>
    </body>
</html>
